{% extends 'users/base.html' %}

{% block nav %}
<nav>
    <a class="nav-button" href="{% url 'position' %}">Назад</a>
</nav>
{% endblock %}


{% block content %}
<form action="{% url 'add_record_position' %}" method="post">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Ошибка:</strong> Пожалуйста, проверьте введенные данные.
        <ul>
            {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <li>{{ field }}: {{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="form-group">
        <label class="small mb-1" for="{{ form.name.id_for_label }}">Позиция</label>
        {{ form.name }}
        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
            <input class="btn btn-primary" type="submit" value="Добавить">
        </div>

</form>

{% endblock %}