{% extends 'users/base.html' %}

{% block nav %}
    <a class="nav-button" href="{% url 'add_record' %}">Добавить игрока</a>
{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th>Позиция</th>
            <th>Стоимость</th>
            <th>Дата истечения контракта</th>
            <th>Повреждение</th>
            <th>Дата получения травмы</th>
            <th>Дата восстановления</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ task.surname }}</td>
            <td>{{ task.firstname }}</td>
            <td>{{ task.patronymic }}</td>
            <td>{{ task.age }}</td>
            <td>{{ task.position.name }}</td>
            <td>{{ task.cost }}</td>
            <td>{{ task.expiration_date }}</td>
            <td>{{ task.injury_choice }}</td>
            <td>{{ task.injury_date }}</td>
            <td>{{ task.recovery_date }}</td>
            <td class="button-cell">
                <a class="btn delete-btn" href="{% url 'delete_record' pk=task.pk %}" type="submit">Удалить</a>
                <a class="btn edit-btn" href="{% url 'edit_record' pk=task.pk %}" type="submit">Изменить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
