{% extends 'users/base.html' %}

{% block nav %}
<nav>
    <a class="nav-button" href="{% url 'add_record_position' %}">Добавить позицию</a>
</nav>
{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Позиция</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ task.name }}</td>
            <td class="button-cell">
                <a class="btn delete-btn" href="{% url 'delete_record_position' pk=task.pk %}" type="submit">Удалить</a>
                <a class="btn edit-btn" href="{% url 'edit_record_position' pk=task.pk %}" type="submit">Изменить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}