{% extends 'users/base.html' %}
{% load static %}

{% block extra_scripts %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="{% static 'js/shop.js' %}"></script>
{% endblock %}

{% block content %}


<div id="messages" class="position-sticky top-0 z-index-sticky" style="z-index: 1000; max-width: 600px; margin-left: auto; margin-right: auto;">
</div>

<div class="container mt-5">
    <h1 class="text-center">Магазин мерча</h1>
    <div class="row mt-4">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card bg-dark text-white mb-4">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="Нет изображения">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text"><strong>{{ product.price }} ₽</strong></p>
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-light text-center" style="border: 2px solid #ff6600; color: #ff6600; background-color: transparent; font-weight: bold;">О товаре</a>
                        <a href="#" id="add-to-cart-btn" class="btn btn-outline-light text-center" style="border: 2px solid #ff6600; color: #ff6600; background-color: transparent; font-weight: bold;"  data-url="{% url 'add_to_cart' product.id %}">В корзину</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Товары пока не добавлены.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
